body{
    background-image: url("doctor_home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Times New Roman";
}
.navtop {
	background-color: #fff;
	height: 60px;
	width: 100%;
    font-family: "Times New Roman";
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
    font-family: "Times New Roman";
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
    font-family: "Times New Roman";
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: black;
	font-weight: normal;

}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: black;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
    display: block;
    font-family: "Times New Roman";
    padding: 22px 14px;
	background-color: #4169e1;
    text-decoration: none;
}
body.loggedin {
    background-image: url("doctor_home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	color: #fff;
    font-family: "Times New Roman";
    font-weight: bold;
    text-align: left;
    text-decoration: underline;
}

.box{
    width: 300px;
    height: 200px;
    background: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 4px;
}
