
body{
    background-color: #BBECFA;
}

*{
    font-family: "Times New Roman";
    color: black;
    margin: 0;
    padding: 0;
}

.box{
    width: 450px;
    height: 160px;
    background: #fff;
    top: 20%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    border-radius: 4px;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 20px;
    font-weight: lighter;
}
